:root {
    --primary-color: #00487C;
    /* indigo dye */
    --secondary-color: #4BB3FD;
    /* Argentinian Blus */
    --accent1-color: #3E6680;
    /* Paynes gray */
    --accent2-color: #0496ff;
    /* Dodger blu */
    --heading-font: "Raleway", sans-serif;
    --body-font: "Roboto", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {

    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text- make sure there is enough contrast with the background color */
}
h3 {
margin: 1rem;
border: 1px solid
rgb(0 0 0 / 10%);
padding: .5rem;
background-color: #0496ff;
text-align: center;

}
article {
    position: absolute;
    top: 100px;
    left: 11px;
    background-color: white;
}

.hero article img {
    float: right;
    width: 125px;

}

.float-right {
    float: right;
    margin-left: 16px;
    margin-bottom: 16px;
}

.clearfix {
    clear: both;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    padding: 1rem;
}
div{
    position: relative;
}
section{
    color:white;
}
